services:
    laravel.test:
        image: 'sail-8.3/app'
        build:
            context: ./vendor/laravel/sail/runtimes/8.3
            dockerfile: Dockerfile
            args:                 
                WWWGROUP: 1000 
        ports:
            - '80:80'
            - '5173:5173'
        environment:
            LARAVEL_SAIL: 1
        command: /bin/sh -c "npm install && npm run build && php artisan serve --host=0.0.0.0 --port=80"
        volumes:
            - '.:/var/www/html'
        networks:
            - sail
        depends_on:
            - mysql
    mysql:
        image: 'mysql/mysql-server:8.0'
        ports:
            - '3306:3306'
        environment:
            
            MYSQL_ROOT_PASSWORD: 'password'
            MYSQL_DATABASE: 'facturacion_jagb'
            MYSQL_USER: 'sail'
            MYSQL_PASSWORD: 'password'
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
        volumes:
            - 'sail-mysql:/var/lib/mysql'
        networks:
            - sail
networks:
    sail:
        driver: bridge
volumes:
    sail-mysql:
        driver: local